extends ../shared/template
block content
  h2 Profile
    .col-xs-12
      h3: a(href='/profile/edit')= user.email
  .row
    .col-xs-2
        .photo.pull-right.thumbnail(style='background-image:url(#{user.photo});')
    .col.xs-10
  .row
    .col-xs-12
    ul
      li= user.phone
      li= user.twitter
      li= user.facebook
      li= user.isVisible

block scripts
